@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* ==========================Color variables =======================================*/

:root {
  --color-bg: #f1f1f1;
  --secondary-color-bg: #0b0b0b;
  --primary-text-color: #f2f60a;
  --secondary-text-color: #ffffff;

  --transition: all 400ms ease;

  /* =========Breakpoints ================*/
  --bp-largest: 75em;
  --bp-medium: 50em;
  --bp-small: 37.5em;
}

/*====================== GENERAL SETUP ==========================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 4.5rem;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-bg);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--secondary-text-color);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-bg);
  color: var(--secondary-color-bg);
  border-color: transparent;
  transition: var(--transition);
}
.btn-gold {
  font-size: 1.8rem;
}

.btn-gold:hover {
  border-color: var(--primary-text-color);
  color: var(--primary-text-color);
  background: none;
}
body {
  background-color: var(--color-bg);
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/*=========================== HEADER =====================================*/
#hero {
  height: 100vh;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#header__navigation {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  padding-right: 10rem;
  padding-left: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header__logo {
  display: flex;
  align-items: center;
}
.company-name {
  color: var(--secondary-text-color);
}
#header-img {
  width: 90px;
  height: 90px;
  color: #fff;
}

#nav-bar ul {
  width: 50rem;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-link {
  color: var(--secondary-text-color);
  font-size: 1.8rem;
}
.nav-link:hover {
  color: var(--primary-text-color);
  transition: var(--transition);
}

#hero__title {
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
  transform: translate(0, -50%);
}
#hero__title h1 {
  color: var(--secondary-text-color);
  font-weight: 700;
}

.btn-title {
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
}

@media only screen and (max-width: 500px) {
  #header__navigation {
    background-color: #ffffff;

    height: auto;
    padding-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .company-name {
    color: var(--secondary-color-bg);
  }
  #nav-bar ul {
    flex-direction: column;
  }
  .nav-link {
    color: var(--secondary-color-bg);
  }
  #hero__title {
    top: 60%;
  }
  #hero__title h1 {
    font-size: 1.6rem;
    font-weight: 300;
  }
  .btn-title {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
  }
}

/*============================ ABOUT SECTION ====================================*/

.section-title {
  text-align: center;
  font-size: 2.5rem;
}
#video {
  width: 500px;
  height: 355px;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
  flex-wrap: wrap;
  align-items: center;
}
.form-section h3 {
  font-size: 2rem;
}
input[type="email"] {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}

/*============================ PRICING SECTIONS ====================================*/
#pricing {
  background-color: var(--secondary-color-bg);
  background: radial-gradient(ellipse at left, #4d4d4d 0%, #000000 100%);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border: 0.5px solid var(--primary-text-color);
}

.price {
  color: var(--primary-text-color);
  font-size: 22px;
}
.text {
  color: var(--secondary-text-color);
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
#product-img {
  max-width: 300px;
  height: 400px;
  object-fit: cover;
  padding: 1rem;
}

.section-title {
  color: var(--secondary-text-color);
}
.card .btn-gold {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 500px) {
  .card {
    margin-top: 3rem;
  }
}

/*============================ SHIPPING SECTION ====================================*/

.shipping-bloc {
  border: 1px solid black;
  background-color: var(--secondary-text-color);
  padding: 2rem;
  max-width: 60%;
  margin: 3rem auto;
}
.shipping-bloc h3 {
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
}
.content {
  display: flex;
  align-items: center;
}

.content img {
  margin-right: 2rem;
}
.content p {
  font-size: 1.8rem;
}

/*======================= FOOTER =========================================*/

#footer {
  height: 80px;
  background-color:var(--secondary-color-bg);
}
#footer p {
  font-size: 1.5rem;
  color: var(--primary-text-color);
}